/* Your CSS Code here. */
.holder{
	display: flex;
	justify-content: space-between;
}
.item{
	width: 90px;
	height: 100px;
	border: 1px solid none;
	font-size: 40px;
}
.item:nth-child(1){
	background-color: green;
}
.item:nth-child(2){
	background-color: red;
}
.item:nth-child(3){
	background-color: blue;
}